
body {
  font-size: 10px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  background-attachment: fixed;
}


h2 {
  color: white;
}
#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #4d4d4d5e;
  color: rgb(0, 0, 0);
text-align: center;
border-radius: 5px;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.card-subtitle {
  margin-top: 5px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

.card-image {
  height: 200px;
  
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
